[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=notebox
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Notebox
Comment=A simple persistent notepad for Krita